* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: hsl(20, 6%, 90%);
  color: hsl(24, 10%, 10%);
}
header,
body,
footer {
  min-width: 100%;
  padding: 20px;
}
header,
footer {
  text-align: center;
}
header {
  font-size: 1.8rem;
}
main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer {
  font-size: 1.4rem;
  font-weight: bold;
}

#clock-container {
  display: flex;
  gap: 5px;
}
#clock-container div {
  background-color: white;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.7);
  font-size: 1.3rem;
  font-weight: 600;
  width: 100px;
  overflow: hidden;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.units {
  font-size: 2.5rem;
}
.text {
  background-color: black;
  color: white;
  width: 100%;
  text-align: center;
  padding: 5px;
}
